form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

/*===== PROGRAMS =====*/

.major .badge {
    background: #273d5e;
}

.major1 .badge {
    background: #fff;
    color: #273d5e!important;
}

.minor .badge {
    background: #4d87a9;
}

.concentration .badge {
    background: #ab4e42;
}

.prepro .badge {
    background: #7477b8;
}

.dual-degree .badge {
    background: #84ab8b;
}

.teaching .badge {
    background: #e37b65;
}

.accelerated .badge {
    background: #DCAC42;
}

.assurance .badge {
    background: #afafaf;
}

.grad-c .badge {
    background: #273d5e;
}

.grad-t .badge {
    background: #4d87a9;
}

.grad-p .badge {
    background: #ab4e42;
}

.grad-g .badge {
    background: #7477b8;
}

.grad-n .badge {
    background: #84ab8b;
}

.grad-a .badge {
    background: #e37b65;
}

.major .badge:before {
    content: "M";
}

.major1 .badge:before {
    content: "M";
}

.minor .badge:before {
    content: "m";
}

.concentration .badge:before {
    content: "C";
}

.prepro .badge:before {
    content: "P";
}

.dual-degree .badge:before {
    content: "3+";
}

.teaching .badge:before {
    content: "T";
}

.accelerated .badge:before {
    content: "A";
}

.assurance .badge:before {
    content: "E";
}

.grad-c .badge:before {
    content: "C";
}

.grad-t .badge:before {
    content: "T";
}

.grad-p .badge:before {
    content: "P";
}

.grad-g .badge:before {
    content: "G";
}

.grad-n .badge:before {
    content: "N";
}

.grad-a .badge:before {
    content: "A";
}

.major .badge,
.major1 .badge,
.minor .badge,
.concentration .badge,
.prepro .badge,
.dual-degree .badge,
.teaching .badge,
.accelerated .badge,
.assurance .badge,
.grad-c .badge,
.grad-t .badge,
.grad-p .badge,
.grad-g .badge,
.grad-n .badge,
.grad-a .badge {
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.major.active {
    border-bottom-color: #273d5e;
}

.minor.active {
    border-bottom-color: #4d87a9;
}

.concentration.active {
    border-bottom-color: #ab4e42;
}

.prepro.active {
    border-bottom-color: #7477b8;
}

.dual-degree.active {
    border-bottom-color: #84ab8b;
}

.teaching.active {
    border-bottom-color: #e37b65;
}

.accelerated.active {
    border-bottom-color: #DCAC42;
}

.assurance.active {
    border-bottom-color: #afafaf;
}

.grad-c.active {
    border-bottom-color: #273d5e;
}

.grad-t.active {
    border-bottom-color: #4d87a9;
}

.grad-p.active {
    border-bottom-color: #ab4e42;
}

.grad-g.active {
    border-bottom-color: #7477b8;
}

.grad-n.active {
    border-bottom-color: #84ab8b;
}

.grad-a.active {
    border-bottom-color: #e37b65;
}

.major.active,
.minor.active,
.concentration.active,
.prepro.active,
.dual-degree.active,
.teaching.active,
.accelerated.active,
.assurance.active,
.grad-c.active,
.grad-t.active,
.grad-p.active,
.grad-g.active,
.grad-n.active,
.grad-a.active {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 6px;
}

/*===== TABLE =====*/

.degree-type {
    background: #ddd;
    border: 1px solid #666;
    border-radius: 5px;
    display: inline-block;
    font-size: .85em;
    margin-left: 6px;
    padding: 0 4px;
    text-transform: uppercase;
}

.program-table td a {
    font-weight: normal;
}

#content .editor .program-table a {
    text-decoration: none;
}

/*===== PROGRAM ICONS =====*/

.prg-online {
    background: url('img/programs/ico-online.png') 0 0 no-repeat scroll;
}

.prg-hybrid {
    background: url('img/programs/ico-hybrid.png') 0 0 no-repeat scroll;
}

.prg-campus {
    background: url('img/programs/ico-campus.png') 0 0 no-repeat scroll;
}

.prg-online,
.prg-hybrid,
.prg-campus {
    margin-left: 14px;
    display: inline-block;
    width: 22px;
    height: 20px;
    vertical-align: middle;
}

/*===== OVERLAY =====*/

.overlay {
    background: rgba(39,61,94,0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
}

.overlay:after {
    content: "";
    display: block;
    clear: both;
}

.overlay .info-box {
    background: #fff;
    box-sizing: border-box;
    float: right;
    width: 480px;
    height: 100vh;
}

.overlay .info-box .close {
    margin: 10px 10px 20px 10px;
    text-align: right;
}

.overlay .info-box .close .close-btn {
    background: #6697b8;
    cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.overlay .info-box .close .close-btn:hover {
    background: #273d5e;
}

.overlay .info-box .close .close-btn img {
    width: 80px;
    height: 80px;
}

.overlay .info-box .info-content {
    padding-left: 50px;
    padding-right: 70px;
}

.overlay .info-box .info-content h3.department {
    font-weight: 400;
}

.overlay .info-box .info-content .program-types,
.overlay .info-box .info-content .program-img {
    margin-bottom: 2em;
}

.overlay .info-box .info-content .program-img img {
    width: 100%;
    height: auto;
}

button.read-more {
    background: #f6f6f6;
    border: none;
    border-radius: 8px;
    color: #273d5e;
    padding: 12px 18px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.15);
}

button.read-more:hover {
    background: #f0f0f0;
}

.cursor-pointer {
    cursor: pointer;
}

/*===== MOBILE =====*/

@media only screen and (max-width: 766px) {

    .major .badge:before {
        content: "Major";
    }

    .major1 .badge:before {
        content: "Major";
    }

    .minor .badge:before {
        content: "Minor";
    }

    .concentration .badge:before {
        content: "Concentration";
    }

    .prepro .badge:before {
        content: "Pre-Health Advising";
    }

    .dual-degree .badge:before {
        content: "3+ Partner Programs";
    }

    .teaching .badge:before {
        content: "Teaching Certificate";
    }

    .accelerated .badge:before {
        content: "Accelerated";
    }

    .assurance .badge:before {
        content: "Early Assurance";
    }

    .grad-c .badge:before {
        content: "Concentration";
    }

    .grad-t .badge:before {
        content: "Track";
    }

    .grad-p .badge:before {
        content: "PA Teaching Certification";
    }

    .grad-g .badge:before {
        content: "Graduate Certificate";
    }

    .grad-n .badge:before {
        content: "Non-Degree";
    }

    .grad-a .badge:before {
        content: "Certificate in Advanced Graduate Studies";
    }

    .major .badge,
    .major1 .badge,
    .minor .badge,
    .concentration .badge,
    .prepro .badge,
    .dual-degree .badge,
    .teaching .badge,
    .accelerated .badge,
    .assurance .badge,
    .grad-c .badge,
    .grad-t .badge,
    .grad-p .badge,
    .grad-g .badge,
    .grad-n .badge,
    .grad-a .badge {
        white-space: nowrap;
        margin-right: 10px;
    }

}

/*===== PEEK =====*/

.peek-overlay {
    background: rgba(75,93,121,0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 999999;
}

.peek,
.subpeek-overlay,
.subpeek {
    background: #fff;
    width: 660px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 80px 0 40px 0;
    box-sizing: border-box;
    overflow: auto;
}

.peek-close {
    position: absolute;
    right: 17px;
    top: 17px;
}

.peek-img {
    width: 100%;
    margin-bottom: -5px;
    overflow: hidden;
}

.peek-img img {
    margin-bottom: 0;
    width: 100%;
}

.peek-content {
    border-top-width: 0;
    margin-top: 0;
    padding: 30px;
}

.peek-content p,
.peek-content ul {
    font: 15px/22px 'mendoza-book',serif
}

.peek-title {
    margin-top: 0;
}

.peek-subtitle {
    font-weight: normal;
    margin: 0;
}

.peek-content .badge-field .major .badge:before {
    content: "Major";
}

.peek-content .badge-field .minor .badge:before {
        content: "Minor";
}

.peek-content .badge-field .concentration .badge:before {
    content: "Concentration";
}

.peek-content .badge-field .prepro .badge:before {
    content: "Pre-Health Advising";
}

.peek-content .badge-field .dual-degree .badge:before {
    content: "3+ Partner Programs";
}

.peek-content .badge-field .teaching .badge:before {
    content: "Teaching Certificate";
}

.peek-content .badge-field .accelerated .badge:before {
    content: "Accelerated";
}

.peek-content .badge-field .assurance .badge:before {
    content: "Early Assurance";
}

.peek-content .badge-field .grad-c .badge:before {
    content: "Concentration";
}

.peek-content .badge-field .grad-t .badge:before {
    content: "Track";
}

.peek-content .badge-field .grad-p .badge:before {
    content: "PA Teaching Certification";
}

.peek-content .badge-field .grad-g .badge:before {
    content: "Graduate Certificate";
}

.peek-content .badge-field .grad-n .badge:before {
    content: "Non-Degree";
}

.peek-content .badge-field .grad-a .badge:before {
    content: "Certificate in Advanced Graduate Studies";
}

.peek-content .badge-field .badge {
    width: auto;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.peek .bookmark-box,
.subpeek .bookmark-box {
    background: #f0f0f0;
    border-radius: 8px;
    display: inline-block;
    padding: 6px 16px;
    float: right;
}

.peek .bookmark-box:after,
.subpeek .bookmark-box:after {
    content: "";
    display: block;
    clear: both;
}

.peek .bookmark-box .bookmark-txt,
.subpeek .bookmark-box .bookmark-txt {
    margin-right: 10px;
    vertical-align: middle;
}

.peek-content .badge-field .peek-bookmark {
    background: url(img/programs/bookmark-icon.png) 0 0 no-repeat scroll;
    float: right;
    width: 20px;
    height: 24px;
}

 .badge-field::after {
    content: "";
    display: block;
    clear: both;
}

.peek-ball {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #7376b7;
    border-radius: 100%;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.peek .options-box,
.subpeek .options-box {
    background: #F0F0F0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.peek .options-box h3 ,
.subpeek .options-box h3 {
    margin-top: 0;
}

.peek .options-box ul,
.subpeek .options-box ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;
}

.peek-button {
    background: #273d5e;
    color: #fff;
    padding: 20px 80px;
    border: none;
    border-radius: 8px;
    display: inline-block;
}

.peek-button:hover {
    background: #6697B8;
    text-decoration: none;
}

.peek-related {
    overflow: hidden;
}

.peek-related .peek-subtitle {
    margin-bottom: 0;
}

/*----- SUBPEEK -----*/

.subpeek-overlay {
    background: rgba(0,0,0,0.5);
}

.subpeek {
    background: #fff;
    top: 130px;
    height: calc(100vh - 130px);
}

#subpeek-large-image {
    margin-bottom: 0;
    width: 100%;
}

.subpeek .peek-content {
    background: #fff;
    margin-bottom: 30px;
}

.related-wrap {
    width: 100000px;
    margin-bottom: 30px;
}

.related-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.related-single {
    float: left;
    width: 190px;
    margin-right: 18px;
}

.single-img {
    width: 100%;
    height: 130px;
    margin-bottom: -5px;
    overflow: hidden;
}

.related-single img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.related-single .info {
    border: 1px solid #e5e5e5;
    padding: 10px;
    min-height: 85px;
}

.related-single .info h4 {
    margin-top: 0;
    margin-bottom: 5px;
    min-height: 3em;
    font-family: 'akagi-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7e7e7e;
}

.related-single .read-more {
    background: #273d5e;
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

.related-single .read-more a {
    color: #fff;
}

.related-single .peek-bookmark {
    background: url(img/programs/bookmark-icon-small.png) 0 0 no-repeat scroll;
    float: right;
    width: 14px;
    height: 16px;
}

.related-nav {
    text-align: center;
}

.peek-nav-button {
    margin: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .peek {
        width: 100%;
        padding: 105px 10px 40px 10px;
    }

    .peek .peek-close {
        width: 100%;
        position: fixed;
        height: 52px;
        top: 0;
        left: 0;
        background-color: #273d5e;
        background-image: url('img/programs/close-icon-white.png');
        background-position-x: calc(100% - 10px);
        background-position-y: 10px;
        background-repeat: no-repeat;
        z-index: 999;
    }

    .peek .peek-close img {
        display: none;
    }

    .subpeek-overlay, .subpeek {
        width: 100%;
    }

    .peek-content {
        padding: 30px 10px;
    }

    .peek-related {
/*        padding: 0 10px;
*/
    }

    .peek-related-scroll {
        /*
        overflow-x: scroll;
        */
    }

    .related-nav {
        /*
        display: none;
        */
    }

    .related-single {
        width: 240px;
    }

    .related-single .major .badge:before {
        content: "M";
    }

    .related-single .minor .badge:before {
        content: "m";
    }

    .related-single .concentration .badge:before {
        content: "C";
    }

    .related-single .prepro .badge:before {
        content: "P";
    }

    .related-single .dual-degree .badge:before {
        content: "D";
    }

    .related-single .teaching .badge:before {
        content: "T";
    }

    .related-single .accelerated .badge:before {
        content: "A";
    }

    .related-single .assurance .badge:before {
        content: "E";
    }

    .related-single .grad-c .badge:before {
        content: "C";
    }

    .related-single .grad-t .badge:before {
        content: "T";
    }

    .related-single .grad-p .badge:before {
        content: "P";
    }

    .related-single .grad-g .badge:before {
        content: "G";
    }

    .related-single .grad-n .badge:before {
        content: "N";
    }

    .related-single .grad-a .badge:before {
        content: "A";
    }

    .subpeek {
      top: 0px;
      height: calc(100vh);
    }
}

.widget__content {
  overflow: visible !important;
}

.program-url {
  cursor: pointer;
}

.open-subpeek {
  cursor: pointer;
}

.peek-close {
  cursor: pointer;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media (max-height: 820px) and (min-width:768px) {
    .peek .peek-content .options-box {
        display: none;
    }
    .subpeek .peek-content .options-box {
        display: none;
    }
}

@media (max-height: 620px) and (min-width:768px) {
    .peek .peek-img {
        display: none;
    }
    .subpeek .peek-img {
        display: none;
    }
}

.category-filter-text {
  cursor: pointer;
}

.peek {
    right: -660px;
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
}

/*===== GRADUATE PROGRAMS =====*/
.prg-online {
    background: url('img/programs/ico-online.png') 0 0 no-repeat scroll;
}

.prg-hybrid {
    background: url('img/programs/ico-hybrid.png') 0 0 no-repeat scroll;
}

.prg-campus {
    background: url('img/programs/ico-campus.png') 0 0 no-repeat scroll;
}

.prg-online,
.prg-hybrid,
.prg-campus {
    margin: 0 0 0 14px;
    display: inline-block;
    width: 22px;
    height: 20px;
    vertical-align: middle;

}

.prg-icons span {
    padding: 0 0 0 24px;
    width: auto;
    box-sizing:border-box;
    color: #273d5e;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.prg-icons {
    display: inline-block;
    float: right;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
