@import url("https://www.messiah.edu/site/styles/standard.css");


/* Related Programs */

.peek-related {
	/*padding: 0 30px; Removed by Kris */
	overflow: hidden;
  margin-top: 50px;
}

.related-wrap {
    width: 100000px;
    margin-bottom: 30px;
}

.related-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.related-single {
    float: left;
    width: 190px;
    margin-right: 18px;
}

.single-img {
    width: 100%;
    height: 130px;
    margin-bottom: -5px;
    overflow: hidden;
}

.related-single img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.related-single .info {
    border: 1px solid #e5e5e5;
    padding: 10px;
    min-height: 85px;
}

.related-single .info h4 {
    margin-top: 0;
    margin-bottom: 5px;
    min-height: 3em;
}

.related-single .read-more {
    background: #273d5e;
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

.related-single .read-more a {
    color: #fff;
}

.related-single .peek-bookmark {
    background: url(img/programs/bookmark-icon-small.png) 0 0 no-repeat scroll;
    float: right;
    width: 14px;
    height: 16px;
}

.related-nav {
    text-align: center;
}

.peek-nav-button {
    margin: 5px;
    cursor: pointer;
}
.messiah-accordion .events-widget {
    margin: 0 !important;
    float: left;
    width: 100%;
    border: none!important;
    background: #fff!important;
    padding: 0 0 10px 0 !important;
}

#content .messiah-accordion  .events-widget .list li {
    margin: 0px !important;
    padding: 0 !important;
    list-style: none !important;
    background: none !important;
    width: 100%!important;
    border-top: 1px solid #efefef;
}

.styles32 .messiah-accordion .panel {
	margin-bottom: 40px;
    border-bottom: 1px solid #e7e6e6 !important;
}
/* listing widget */

.widget__advert-button .widget-advert-link{
	font-family: 'akagi-pro', sans-serif;
    font-weight: 300;
	font-size: 18px;
}

.widget__advert-button .widget-advert-link-2{
	font-size: 24px;
	font-family:'priori-sans', sans-serif;
	font-weight: 400;
}

.widget__advert-button .widget-advert-link {
	position:relative;
	font-style: normal;
	background-color: transparent !important;
	border: 0;
	color: #273d5e;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	width: 95%!important;
	border-top: 1px solid #e7e6e6;
	text-align: left;
	outline: none;
	transition: all .4s;
	-webkit-transition: all .4s;
	display:  block;
	height: auto;

}

.widget__advert-button .widget-advert-link span {
	background-color: transparent !important;
}

.widget__advert-button .widget-advert-link:hover{
	color: #618aa9;
	text-decoration: none;
}

.widget__advert-button .widget-advert-link:after {
    content: url('../images/program_page_images/chevron-right.png');
	position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    /* line-height: left; */
    margin-top: 3px;
}




/* YouTube Widget */
.widget__youtube-video {
  margin-bottom: 20px;
}
#video_player {
  display: block;
  position: relative;
  height: auto;
  overflow: hidden;
}
.youtube-embed {
  display: block;
  position: relative;
}
.youtube-embed img {
  position: relative;
  width: 100%;
  margin: -10% 0px -12% 0;
}

.youtube-embed .play-button {
  position: absolute;
  display: block;
  width: 15%;
  top: 50%;
  left: 50%;
  margin: -7% 0px 0px -8%;
  z-index: 100;
}



/* April 26 */

#main-content{
	width: 1204px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

#main-content-2,
.header-info-container{
	max-width: 1204px;
	width: auto;
    margin: 0 auto;
    position: relative;
	z-index: 2;
	padding: 0 28px;
}

#header.header-secondary{
	margin-bottom: 0;
	float: none;
}

.header-img-container img {
	width: 100%;
    height: auto;
    display: block;
}

.header-info-container{
	width: 1204px;
}

.header-info{
    position: absolute;
    bottom:50px;
    padding: 20px 20px 15px;
	box-sizing: border-box;
	background-color: #263d5e;
	color:#fff;
	opacity: .8;
	width: 571px;
}

h1.header-info__title{
	font-size: 32px;
	font-family: 'priori-sans', sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: none;
	float: none;
	padding: 0 0 5px;
}

.header-info__description{
	display:block;
	font-size: 25px;
	font-weight: 400;
	margin-top: 6px;
	color: #6cb0e2;
	letter-spacing: 1px;
}

.header-info__concentration,
.header-info__online, .header-info__hybrid, .header-info__campus{
	font-family:'akagi-pro', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.header-info__concentration, .header-info__track, .header-info__pa-teach, .header-info__grad-cert, .header-info__non-degree, .header-info__cags {
	font-size: 14px;
}

.header-info__concentration:before{
    border-radius: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #6697B8;
    content: "C";
    margin-right: 10px;

}

.header-info__track:before{
    border-radius: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #6697B8;
    content: "T";
    margin-right: 10px;

}

.header-info__pa-teach:before{
    border-radius: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ab4e42;
    content: "P";
    margin-right: 10px;

}

.header-info__grad-cert:before{
    border-radius: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #7477b8;
    content: "G";
    margin-right: 10px;

}


.header-info__non-degree:before{
    border-radius: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color:rgb(132, 171, 139);
    content: "N";
    margin-right: 10px;

}



.header-info__cags:before{
    border-radius: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color:rgb(227, 123, 101);
    content: "A";
    margin-right: 10px;

}

.header-info__online:before{
	content:url('../images/program_page_images/online-icon.png');
	width:20px;
	height:20px;
	margin-right: 9px;
	vertical-align: -20%;
	background-size: 20px 20px;
}

.header-info__hybrid:before{
	content:url('../images/program_page_images/hybrid-icon.png');
	width:20px;
	height:20px;
	margin-right: 9px;
	vertical-align: -20%;
}

.header-info__campus:before{
	content:url('../images/program_page_images/campus-icon.png');
	width:20px;
	height:20px;
	margin-right: 9px;
	vertical-align: -20%;
}

.header-info__online, .header-info__hybrid, .header-info__campus{
	font-size: 11px;
	text-transform: uppercase;
	margin-left: 23px;
}

.main-holder-2 {
	padding: 0px;
	overflow: hidden;
}

.one-column-2{
    font: 15px/22px 'mendoza-book', serif;
    color: #424242;
}

.one-column-2 #content {
    width: 100%;
    margin: 0 auto;
    float: none;
}

.breadcrumbs-2{
	border-bottom: 1px solid #e7e6e6;
	padding: 0 28px;
}

.breadcrumbs-2 ul {
    list-style: none;
    padding: 21px 0;
	overflow: hidden;
	font-size: 16px;
	font-family:'priori-sans', sans-serif;
	font-weight: 400;
	font-style: normal;

    color: #555555;
}

.breadcrumbs-2 ul li {
    float: left;
}

.breadcrumbs-2 ul li a {
    color: #6697b8;
}

.breadcrumbs-2 ul li + li {
    background: url('../images/program_page_images/breadcrumbs-arrow.png') no-repeat 14px 4px;
    padding: 0 0 0 34px;
}

.breadcrumbs-list{
	margin: 0 auto;
	width: 1204px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.h2-title{
	font-size: 35px !important;
	color: #273d5e;
	float:left;
}

.bookmark-btn{
	float: right;
	width: 168px;
	height: 36px;
	background-color: rgba(232,232,232,0.5);
	border-radius: 15px;
	border:0;
	transition: all .6s;
	-o-transition: all .6s;
	-ms-transition: all .6s;
	-webkit-transition: all .6s;
	display: none;
}

.bookmark-btn:hover {
	background-color:rgba(163, 190, 228, 0.5);
	transform: translateY(-2px);
}

.bookmark-btn:focus{
	background-color: rgba(163, 190, 228, 0.5);
	outline:none;
	transform: translateY(0);
	box-shadow: 0 1px 2px rgba(77, 76, 76, 0.6);
	background-color: rgba(232,232,232,0.5);
}

.bookmark-btn img{
	margin-right: 8px;
    margin-left: -25px;
    vertical-align: middle;
}

.bookmark-btn span{
	color:#273d5e;
	font-size: 14px;
	font-family: 'akagi-pro', sans-serif;
    font-weight: 300;
	font-style: normal;
	line-height: 36px;
}

.page-description p{
	color: #6697b8;
	font-size: 24px;
	font-family:'priori-sans', sans-serif;
	font-weight: 400;
	font-style: normal;
    line-height: 28px;
    margin-bottom: 35px;
}

.page-tab {
    overflow: hidden;
    border-top: 1px solid #e7e6e6;
}

.page-tab button {
	font-size: 24px !important;
    font-family: 'priori-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
	color:#273d5e;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
	margin: 0 50px;
	padding: 18px 0;
	transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	position:relative;
}

.page-tab button:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: -4px;
	left: 0;
	background-color: rgba(102,151,184,.4);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.page-tab button:hover:before {
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}

.page-tab button:first-child {
    margin-left:0;
}

.page-tab button.active {
    border-bottom: 4px solid #6697b8;
}

.page-tab button:focus{
	background-color: #fff;
	color: #273d5e;
}

.tab-content-container{
	background: linear-gradient(to bottom, #f3f3f3, #fcfcfc, #fff 60px);
	padding-bottom: 65px;
}

.tabcontent {
    display: none;
    padding: 6px 0px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.tabcontent .btn-text{
	width: 90%;
	display: inline-block;
}

.tabcontent-col-left{
	box-sizing: border-box;
	width: 70%;
	float:left;
	padding-right: 30px;
}

.tabcontent-col-panel{
  box-sizing: border-box;
	width: 80%;
	float:left;
	padding-right:10px;
	z-index:100;
}

.tabcontent-col-why{
	box-sizing: border-box;
	width: 70%;
	float:left;
	padding-right: 30px;
}

.float-left{
	box-sizing: border-box;
	width: 70%;
	float:left;
	padding-right: 30px;
}

.form-col-right{
	box-sizing: border-box;
	border-left: 1px solid #e3e2e2;
	float:right;
	width: 30%;
	padding-left: 30px;
}

.form-col-right select{
	box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    font-family: 'akagi-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px 15px;
    border: none;
}

.form-col-right .form_label{
	margin-bottom: 15px !important;
}

#content h2 {
	font-size: 35px !important;
    font-family: 'priori-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #273d5e;
	margin-bottom: 15px;
}

#content h2.h2-title{
	font-size: 35px;
	font-family:'priori-sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 36px;
	margin-bottom: 0;
}

#content h3 {
	font-family:'priori-sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	line-height: 22px;
	color: #6697b8;
}

/*.tab-description{
	margin-top: 0;
	color:#555555;
	font-size: 16px;
	font-family: 'akagi-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
	line-height: 24px;
}
*/

.tabcontent p {
	margin-top: 0;
	color:#555555;
	font-size: 16px;
	font-family: 'akagi-pro', sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 24px;
}

.tabcontent p strong {
	font-family: 'akagi-pro', sans-serif;
	font-weight: bold !important;
}

#content .button {
	margin-bottom: 10px!important;
}
#content .button {
	height: auto !important;
  padding: 12px 16px 12px;
  background-color: #273d5e;
}

#content .button:hover {
    background-color: #618aa9;
}


.tabcontent .button {
	display: inline-block;
	line-height: 47px;
	cursor: pointer;
	text-align: center;
	width: auto;
	max-width: 350px;
	height: 47px;
	margin-bottom: 20px;
	text-transform: uppercase;
	background-color: #618aa9;
	color: #fff;
	font-family: 'akagi-pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	border: none;
}

.button{
	transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
}

.button:hover {
	text-decoration:none;
	transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.button:active {
	transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.messiah-accordion{
	margin-top: 27px;
}

.messiah-accordion .accordion{
	font-family: 'akagi-pro', sans-serif;
    font-weight: 300;
	font-size: 18px;
}

.messiah-accordion .accordion-2{
	font-size: 24px;
	font-family:'priori-sans', sans-serif;
	font-weight: 400;
}

.messiah-accordion .accordion,
.messiah-accordion .accordion-2 {
	position:relative;
	font-style: normal;
	background-color: transparent;
	border: 0;
	color: #273d5e;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border-top: 1px solid #e7e6e6;
	text-align: left;
	outline: none;
	transition: all .4s;
	-webkit-transition: all .4s;
	/* border-bottom: 1px solid #e7e6e6; */
}

.messiah-accordion .accordion-icon {
	width: 25px;
	display: inline-table;
	vertical-align: middle;
}

.messiah-accordion .accordion:hover,
.messiah-accordion .accordion-2:hover{
	color: #618aa9;
}

.separator{
	margin: 0;
	border-top: 1px solid #e7e6e6;
	border-bottom: 0;
}

.messiah-accordion .accordion:after {
    content: url('../images/program_page_images/chevron-down.png');
	position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    /* line-height: left; */
    margin-top: 3px;
}

.messiah-accordion .accordion-2:after {
    content: url('../images/program_page_images/chevron-lighter-down.png');
	position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 3px;
}

.messiah-accordion .accordion-2 span {
    margin-left: 45px;
}

.messiah-accordion .accordion-2.acc-admissions:before,
.messiah-accordion .accordion-2.acc-dates:before,
.messiah-accordion .accordion-2.acc-apply:before,
.messiah-accordion .accordion-2.acc-resources:before{
	position: absolute;
}

.messiah-accordion .accordion-2.acc-admissions:before{
	content: url('../images/program_page_images/admissions-icon.png');
}

.messiah-accordion .accordion-2.acc-dates:before{
	content: url('../images/program_page_images/calendar-icon.png');
}

.messiah-accordion .accordion-2.acc-apply:before{
	content: url('../images/program_page_images/pencil-icon.png');
}

.messiah-accordion .accordion-2.acc-resources:before{
	content: url('../images/program_page_images/additional-icon.png');
}

.messiah-accordion button.accordion.active:after {
    content: url('../images/program_page_images/chevron-up.png');
}

.messiah-accordion button.accordion-2.active:after {
    content: url('../images/program_page_images/chevron-lighter-up.png');
}

.messiah-accordion .panel {
	width: 85%;
	font-family: 'akagi-pro', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
	color: #7e7e7e;
	padding: 0 18px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	-webkit-transition: max-height 0.2s ease-out;
	/* margin: 10px 0 30px 0; */
}

.messiah-accordion .panel a {
	text-decoration: underline!important;
}

.messiah-accordion .events-widget a {
    text-decoration:none!important;
}

.messiah-accordion .panel p, .messiah-accordion .panel ul {
	margin: 10px 0 10px !important;
	display:  block;
	position:  relative;
	list-style: disc!important ;
}

.messiah-accordion .panel .code,
.messiah-accordion .panel .credits{
	display: inline-block;
	color: #424242;
	margin-bottom: 33px;
}

.messiah-accordion .panel .credits{
	margin-left: 8px;
}

.awards-container{
	margin-top: 45px;
	margin-bottom: 45px;
	margin-right: auto;
	margin-left: auto;
	display: table;
	padding: 0 15px;
}

.awards-container .awards-container-right, .awards-container .awards-container-left{
	display: table-cell;
}

.awards-container .awards-container-right{
	vertical-align: middle;
	padding-left: 30px;
	max-width:368px;
}

#content .awards-container .awards-logo{
	display:block;
	max-width: none;
	/*width: 101px;*/
	height: 143px;
}

.awards-container .awards-description{
	display: inline;
}

.request-help-container{
	font-family: 'akagi-pro', sans-serif;
    font-weight: 300;
	font-style: normal;
	font-size: 18px;
	margin-top: 45px;
	margin-bottom: 45px;
	margin-right: auto;
	margin-left: auto;
	display: table;
}

.request-help-container .request-help-container__left, .request-help-container .request-help-container__right{
	display: table-cell;
}

.request-help-container .request-help-container__right{
	vertical-align: middle;
	text-align: center;
	padding-left: 30px;
}

.request-help-container .request-help-person-name{
	font-family:'priori-sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #273d5e;
	margin:0;
}

.request-help-container .request-help-person-role{
	color: #628ba9;
	margin-top: 6px;
}

.request-help-container .contact-container span,
.request-help-container .email-container a{
	position:relative;
	color: #424242;
}

.request-help-container .contact-container span{
	display: inline-block;
	margin-bottom: 18px;
	padding-left: 30px;
}

.request-help-container .email-container a{
	display: inline-block;
	padding-left: 40px;
}

.request-help-container .contact-container span:before{
	content: url(../images/program_page_images/phone-icon.png);
	position:absolute;
	top:0;
	left:0;
}

.request-help-container .email-container a:before{
	content: url(../images/program_page_images/envelope-icon.png);
	position:absolute;
	top:0;
	left:0;
}

.request-help-container .request-help-container__left span{
	color: #fff;
	background-color: #273d5e;
	padding: 2px 30px;
	font-family: 'akagi-pro', sans-serif;
	font-size: 22px;
    font-weight: 300;
	font-style: normal;
}

.request-help-container #request-help-photo{
	display: block;
	max-width: none;
	width:152px;
	height:152px;
	margin-bottom: -20px;
}

.margin-default{
	margin: 45px 0;
}

.overview-video img{
	width: 100%;
}

.info-panel .view-homepage-btn,
.info-panel .meet-faculty-btn{
	position: relative;
	font-style: normal;
	display: block;
	width: 100%;
	height: 80px;
	text-decoration: none;
	color: #fff !important;
	text-transform: uppercase;
	margin-bottom: 15px;
	border-radius:5px;
}

.info-panel .view-homepage-btn{
	background: url('../images/program_page_images/view-homepage-btn-bg.png');
	background-size: cover;
}

.info-panel .view-homepage-btn.overlay-color,
.info-panel .meet-faculty-btn.overlay-color{
	position:relative;
}

.info-panel .view-homepage-btn.overlay-color:after,
.info-panel .meet-faculty-btn.overlay-color:after{
	position: absolute;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	transition: all .4s;
	-webkit-transition: all .4s;
	border-radius: 5px;
	background-color: #263D5E;
}

.info-panel .view-homepage-btn.overlay-color:hover:after,
.info-panel .meet-faculty-btn.overlay-color:hover:after{
	opacity:.5;
}

.info-panel .meet-faculty-btn{
	background: url('../images/program_page_images/faculty-btn-bg.png');
	background-size: cover;
}

.info-panel .view-homepage-btn p{
	margin: 0;
	padding-left: 20px;
	position: absolute;
    top: 50%;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

.info-panel .meet-faculty-btn p{
	margin: 0;
	padding-left: 20px;
    position: absolute;
    top: 50%;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
    font-family: 'priori-sans', sans-serif !important;


}

.info-panel .btn-upper-text{
	font-size: 14px;
	font-weight: 400;
	z-index: 50;
	color: #fff;
   	font-family: 'priori-sans', sans-serif !important;


}

.info-panel .btn-bottom-text{
	display: block;
	font-size: 26px;
	font-weight: 700;
	text-transform: none;
	color: #fff;
}



.btn-white{
	display: block;
	font-family: 'priori-sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	padding-left: 15px;
	box-sizing: border-box;
	width:100%;
	height:50px;
	color: #628ba9;
	border: 1px solid #618aa9;
	background-color: #fff;
	margin-bottom: 16px;
	transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
}



.btn-white:hover{
	text-decoration: none;
	box-shadow: inset 0px 0px 0px 2px #618aa9;
}

.btn-white img{
	width: 20px;
	height: 20px;
	line-height: 50px;
	vertical-align: middle;
}

.btn-white span{
	line-height: 50px;
	margin-left: 14px;
}

.btn-blue{
    background-color: #618aa9;
    color: #fff;
}

.btn-blue:hover{
    background-color: #273d5e;
    border: none;
}

.request-info-container{
	padding: 35px 28px;
	background-color: #618aa9;
	text-align:center;
	color: #fff;
}

#content .info-panel h2{
	text-shadow:none;
	font-family: 'priori-sans', sans-serif;
	font-style: normal;
	font-weight: 700;
}

#content .request-info-container__title{
	font-size: 38px;
	line-height: 38px;
	border-bottom: 1px solid #fff;
	margin: 0 40px;
	padding: 0 0 5px 0;
	color:  #fff;
}

#content .request-info-container__phone{
	font-size: 38px !important;
	color:  #fff;
	margin-top: 10px;
}

.request-info-container__secondary-text,
.form-col-right .form_label{
	font-family: 'priori-sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 27px;
	margin: 14px 0 5px 0;
}

.request-info-container__secondary-text,
.form-col-right .form_label:after{
	display: none!important;
}



.request-info-container__form{
	margin-top: 25px;
}

.request-info-container__form input[type=text],
.request-info-container__form input[type=email],
.request-info-container__form input[type=number],
.request-info-container__form input[type=tel],
.request-info-container__form button{
	box-sizing : border-box;
	width: 100%;
	font-size: 18px;
	font-family: 'akagi-pro', sans-serif;
    font-weight: 300;
	font-style: normal;
	padding: 10px 15px;
	border: none;
}

.request-info-container__form input[type=text],
.request-info-container__form input[type=email],
.request-info-container__form input[type=number],
.request-info-container__form input[type=tel]{
	border-radius: 5px;
	background-color: #fff;
}

.request-info-container__form button{
	text-align:center;
	background-color: #263d5e!important;
	color: #fff;
	margin-top: 5px;
	transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
}

.request-info-container__form input:focus{
	outline:none;
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.request-info-container__form input::-webkit-input-placeholder{
	color: #939393;
}
.request-info-container__form input::placeholder{
	color: #939393;
}
.request-info-container__form input:-ms-input-placeholder{
	color: #939393;
}
.request-info-container__form input::-ms-input-placeholder{
	color: #939393;
}

.request-info-container__form input:not(:last-child) {
	margin-bottom: 15px;
}

.request-info-container__form button:hover{
		transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.request-info-container__form button:focus{
	transform: translateY(-1px);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.btn-anim{
	transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
}

.btn-anim:hover {
	text-decoration:none;
	transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-anim:active {
	transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

a.blue-btn {
    display: inline-block;
    line-height: 47px;
    cursor: pointer;
    text-align: center;
    width: 240px;
    height: 47px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #618aa9;
    color: #fff;
    font-family: 'akagi-pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
	border: none;
}

a.blue-btn:focus {
	background-color: #00669e;
}

.featured-text{
	color: #2a4060;
	margin: 35px 0 15px 0;
	font-size: 30px;
	line-height: 30px;
	font-family: 'priori-sans', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.costs-and-fees{
	margin-top: 25px;
}

.tertiary-description{
	font-family: 'akagi-pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
	font-style: normal;
	color: #555555
}

#content h3.h3-title{
	color: #555555;
	font-family: 'priori-sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
	font-style: normal;
	margin: 28px 0 0 0;
}

#carousel-awards {
    margin-right: 135px;
    margin-left: 135px;
}

#carousel-awards .slick-prev {
	left: -45px;
}

#carousel-awards .slick-next {
    right: -45px;
}

#carousel-awards .slick-prev, .slick-next {
	z-index:3;
    position: absolute;
    top: 50%;
    display: block;
    width: 15px;
    height: 24px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

#carousel-awards .slick-prev:focus, .slick-next:focus {
	background-color: transparent;
}

#carousel-awards .slick-prev:before {
    content: url('../images/program_page_images/arrow-left.png');
}

#carousel-awards .slick-next:before {
    content: url('../images/program_page_images/arrow-right.png');
}

#carousel-awards .slick-prev:before, .slick-next:before {
    opacity: .6;
}

#carousel-awards .slick-prev:hover:before, .slick-next:hover:before {
    opacity: 1;
}


/* ------------ animations  ------------ */

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* ------------ media queries  ------------ */

@media only screen and (max-width: 1224px){
	.page-tab button{
		margin: 0 35px;
	}

	.header-info {
		width: 460px;
	}

	#content .request-info-container__title {
		margin: 0 15px;
	}
}

@media only screen and (max-width: 1204px) and (min-width: 1000px) {

    #main-content {
        width:1024px;
    }
}

@media only screen and (max-width: 1110px){
	#carousel-awards {
		margin-right: 80px;
		margin-left: 80px;
	}

	#carousel-awards .slick-prev {
		left: -65px;
	}

	#carousel-awards .slick-next {
		right: -65px;
	}
}

@media only screen and (max-width: 1000px){

	.tabcontent-col-left {
		width: 65%;
	}

	.float-left {
		width: 65%;
	}

	.tabcontent-col-left-list {
		width: 65%;
	}

	.form-col-right {
		width: 35%;
	}

	.page-tab button{
		margin: 0 20px;
	}

	.breadcrumbs-2{
		display:none;
	}

	.header-info {
		width: 399px;
	}

	h1.header-info__title {
		font-size: 32px;
		letter-spacing: 1px;
	}

	.header-info__description {
		font-size: 17px;
	}

	.main-title{
		margin-top: 46px;
    }

    #content h2.h2-title{
        max-width: 75%;
    }
}

@media only screen and (max-width: 999px) {

    #main-content {
		width:726px;
    }

    #main-content-2 {
		padding:0 28px;
	}

	.header-info{
		bottom: 25px;
	}
}

@media only screen and (max-width: 900px){
	.page-tab button {
		font-size: 20px !important;
	}

	.tabcontent-col-left {
		box-sizing: border-box;
		width: 95%;
		float: none;
		margin: 10px auto 0px;
		padding-right: 0;
	}

	.tabcontent-col-left-list {
		box-sizing: border-box;
		width: 95%;
		float: none;
		margin: 10px auto 0px;
		padding-right: 0;
	}

	.form-col-right {
		padding-top: 15px;
		float: none;
		width: 60%;
		margin: 0 auto;
		border-left: none;
		padding-left: 0;
		display:  inline-block;
	}

	#content .request-info-container__title {
		margin: 0 80px;
	}

	#carousel-awards {
		margin-right: 150px;
		margin-left: 150px;
	}

	#carousel-awards .slick-prev {
		left: -65px;
	}

	#carousel-awards .slick-next {
		right: -65px;
	}
}

@media only screen and (max-width: 768px){

	h1.header-info__title {
		font-size: 28px;
	}

	#main-content-2,
	.main-holder-2 {
		padding:0;
	}

	.main-title .h2-title,
	.page-description,
	.tabcontent-info-container{
		padding: 0 28px;
	}

	#content h3.awards-description{
		display: block;
		padding: 0 28px;
		line-height: 25px;
	}

	.messiah-accordion .accordion:after,
	.messiah-accordion .accordion-2:after{
		right: 28px;
	}

	.messiah-accordion .accordion,
	.messiah-accordion .accordion-2{
		padding: 15px 28px;
		box-sizing: border-box;
		height: 80px;
	}

	.messiah-accordion .panel{
		padding: 0 35px;
	}

	.one-column-2 #content{
		padding: 0;
	}

	.bookmark-btn{
		display:none;
	}

	.header-info-container{
		max-width: 100%;
		width:100%;
		margin:0;
		padding: 0;
	}

	.header-info{
		width: 100%;
		opacity: 1;
		bottom: 0px;
		position: initial;
		padding: 20px 28px 10px;
	}

	#content .request-info-container__title {
		margin: 0 30px;
	}

	.page-tab{
		margin-bottom: 35px;
	}

	.page-tab button {
		font-size: 24px !important;
		margin: 0;
		float: none;
		width: 100%;
		border-top: 1px solid #e7e6e6;
		border-bottom: 0;
		transition: background-color .4s;
    	-webkit-transition: background-color .4s;
    	-o-transition: background-color .4s;
    	-ms-transition: background-color .4s;
	}

	.page-tab button:last-child {
		border-bottom: 1px solid #e7e6e6;
	}

	.page-tab button:first-child {
		border-top: 0;
	}

	.page-tab button.active {
		border-top: 0;
		border-bottom: 0;
		background-color: #d7d7d7;
	}

	.page-tab button:hover {
		background-color: #f5f3f3;
	}

	.page-tab button.active:hover {
		background-color: #d7d7d7;
	}

	.page-tab button:hover:before {
		display:none;
	}

	#content h2.tab-title{
		margin-top: 35px;
	}

	.awards-container .awards-container-right, .awards-container .awards-container-left{
		display:block;
	}

	.awards-container .awards-container-right {
		padding-left: 0;
		max-width: 500px;
		margin: 0 auto;
	}

	.awards-container {
		display: block;
		text-align: center;
	}

	#content .awards-container .awards-logo {
		display: block;
		margin: 0 auto;
		padding-bottom: 20px;
    }

    #content h2.h2-title{
        max-width: 100%;
    }
}

@media only screen and (max-width: 766px) {

    #main-content {
		max-width:726px;
		width:auto;
    }

    #main-content-2,
	.header-info-container {
		max-width:750px;
		width:auto;
	}
}

@media only screen and (max-width: 600px){
	#carousel-awards {
		margin-right: 25px;
		margin-left: 25px;
	}

	#carousel-awards .slick-prev {
		left: 0;
	}

	#carousel-awards .slick-next {
		right: 0;
	}
}

@media only screen and (max-width: 500px){
	.request-help-container{
		display: block;
		margin-bottom: 0;
	}

	.request-help-container .request-help-container__left, .request-help-container .request-help-container__right{
		display: block;
		text-align:center;
	}

	.request-help-container .request-help-container__right{
		padding-left: 0;
		margin-top: 40px;
	}

	.request-help-container #request-help-photo{
		margin-right: auto;
		margin-left: auto;
	}
}

@media only screen and (max-width: 480px){
	.form-col-right {
		width: 100%;
		padding: 75px 28px 0 28px;
	}

	#content .request-info-container__title {
		margin: 0 20px;
	}

	.messiah-accordion .accordion-2 span {
		margin-left: 33px;
	}
}

/* H1 degree title */
.degree-type-1 {
    background: #ddd;
    border: 1px solid #666;
    border-radius: 5px;
    display: inline-block;
    font-size: .85em;
    margin-left: 6px;
    padding: 0 4px;
    text-transform: uppercase;
    color: #273d5e;
  	font: 18px/20px 'aptifer-sans', sans-serif !important;
  	padding: 4px 5px!important;
}

/* Stat widget (alumni outcomes) */
.statistics-hold {
  overflow: hidden;
  padding: 0 0 22px;
  margin: 0 -5px 0 -14px;}
  @media all and (max-width: 1024px) {
    .statistics-hold {
      margin: 0; } }

.statistics-block {
  overflow: hidden;
  width: 100%;
  position: relative;
  box-sizing: border-box; }
  @media all and (max-width: 767px) {
    .statistics-block {
      padding: 20px 0;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      background: #f0f0f0; } }
  .statistics-block .img-hold {
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative; }
    @media all and (max-width: 767px) {
      .statistics-block .img-hold {
        display: none; } }
    .statistics-block .img-hold:after {
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: rgba(45, 78, 126, 0);
      -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease; }
    .statistics-block .img-hold img {
      vertical-align: top; }
  .statistics-block .text {
    width: 54%;
    position: absolute;
    bottom: 43px;
    left: 4%;
    text-align: center;
    font: 32px/37px 'priori-sans-bold', Arial, Helvetica, sans-serif;
    color: #fff; }
    @media all and (max-width: 1024px) {
      .statistics-block .text {
        box-sizing: border-box;
        width: 50%;
        font-size: 22px;
        line-height: 26px;
        bottom: auto;
        top: 50%;
    transform: translateY(-50%); } }
    @media all and (max-width: 767px) {
      .statistics-block .text {
        width: 100%;
    transform: none;
        margin: 0 0 24px;
        padding: 0 10px;
        position: static;
        bottom: auto;
        left: auto;
        font-size: 30px;
        line-height: 33px;
        color: #263d5d; } }
    .statistics-block .text p {
      margin: 0 0 30px; }
      @media all and (max-width: 1024px) {
        .statistics-block .text p {
          margin: 0 0 10px; } }
      @media all and (max-width: 767px) {
        .statistics-block .text p {
          margin: 0 0 30px; } }
    .statistics-block .text .btn {
      font: 14px/16px 'MyriadProRegular', Arial, Helvetica, sans-serif;
      color: #293e5d;
      padding: 7px 33px; }
      @media all and (max-width: 1024px) {
        .statistics-block .text .btn {
          border: 1px solid #c4c4c4;
          box-shadow: 0 2px 3px rgba(2, 2, 2, 0.1); } }
  .statistics-block:hover .img-hold:after {
    background: rgba(45, 78, 126, 0.3); }

.statistics-circle {
  width: 230px;
  height: 230px;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font: 75px/77px 'MyriadProRegular', Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 80px 0 0;
  box-sizing: border-box;
  color: #fff; }
  @media all and (max-width: 1024px) {
    .statistics-circle {
      width: 175px;
      height: 175px;
      padding: 50px 0 0;
      font-size: 55px;
      line-height: 77px; } }
  @media all and (max-width: 767px) {
    .statistics-circle {
      width: 210px;
      height: 210px;
      margin: 0 auto;
      padding: 65px 0 0;
      font-size: 80px;
      line-height: 82px;
      color: #273d5e;
      top: auto;
      right: auto;
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%);
      position: static; } }
  .statistics-circle span {
    position: relative;
    z-index: 99;
    display: block; }
    .statistics-circle span .value {
      display: inline-block; }

.block-action {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
  box-sizing: border-box;
  padding: 22px;
  font: 14px/20px 'MyriadProRegular', Arial, Helvetica, sans-serif;
  color: #424242; }
  @media all and (max-width: 767px) {
    .block-action {
      display: none; } }
  .block-action .img-hold {
    width: 100%;
    overflow: hidden;
    margin: 0 0 15px; }
  .block-action img {
    vertical-align: top;
    border: 1px solid #dfdfdf;
    width: 100%;
    max-width: none; }
  .block-action h2 {
    font: 20px/23px 'priori-sans-bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #273d5e;
    margin: 0 0 16px; }
  .block-action h3 {
    font: 18px/20px 'priori-sans-bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #273d5e;
    margin: 0 0 30px; }
  .block-action p {
    margin: 0 0 23px; }
  .block-action .btn {
    font: 14px/16px 'MyriadProRegular', Arial, Helvetica, sans-serif;
    padding: 7px 14px; }

.circle-box {
  width: 230px;
  height: 230px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box; }
  @media all and (max-width: 1024px) {
    .circle-box {
      width: 175px;
      height: 175px; }
      .circle-box svg {
        overflow: visible !important;
        width: 175px;
        height: 175px; } }
  @media all and (max-width: 767px) {
    .circle-box {
      width: 210px;
      height: 210px; }
      .circle-box svg {
        width: 210px;
        height: 210px; } }
